<!-- Footer -->
<section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="list-unstyled">
            <li><a class="nav-link pb-2 fw-bold" href="#">Company Info</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Legal</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Features</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Resources</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Blog</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled">
            <li><a class="nav-link pb-2 fw-bold" href="#">Legal</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Legal</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Features</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Resources</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Blog</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled">
            <li><a class="nav-link pb-2 fw-bold" href="#">Feature</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Business Marketing</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">User Analytic</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Live Chat</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Unlimited Support</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled">
            <li><a class="nav-link pb-2 fw-bold" href="#">Resources</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">IOS & Android</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Watch a Demo</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">Customers</a></li>
            <li><a class="nav-link pb-2" href="#" style="color: #737373;">API</a></li>
          </ul>
        </div>
        <div class="col">
          <ul class="list-unstyled">
            <li><a class="nav-link pb-2 fw-bold" href="#">Get in Touch</a></li>
            <li class="d-flex align-items-start pb-2">
              <img src="../../assets/images/contact.svg" alt="Phone Icon" class="contact-icon">
              <a class="nav-link pb-2" href="#" style="color: #737373;">(480) 555-0103</a>
            </li>
            <li class="d-flex align-items-start pb-2">
              <img src="../../assets/images/location.svg" alt="Location Icon" class="contact-icon">
              <a class="nav-link pb-2" href="#" style="color: #737373;">4517 Washington Ave. Manchester, Kentucky 39495</a>
            </li>
            <li class="d-flex align-items-start pb-2">
              <img src="../../assets/images/email.svg" alt="Email Icon" class="contact-icon">
              <a class="nav-link pb-2" href="#" style="color: #737373;">debra.holtexample.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light">
    <div class="container d-flex justify-content-between py-4">
      <p style="color: #737373;">Made With Love By Figmaland All Right Reserved</p>
      <div>
        <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
        <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
        <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
      </div>
    </div>
  </section>
  