<section class="py-5 bg-light">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-text  mb-4">
          <p style="color: #96BB76;"><b>Team</b></p>
          <h1><b>Get Quality Education</b></h1>
          <p style="color: #737373;">Problems trying to resolve the conflict between <br>the two major realms of Classical physics: Newtonian mechanics</p>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-1.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-2.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-3.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-4.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="a../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-1.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-2.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-3.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
              <div class="card mx-3" style="width: 18rem;">
                <img src="../../assets/images/user-cover-4.png" class="card-img-top" alt="Julian Jameson">
                <div class="card-body text-center">
                  <h5 class="card-title">Julian Jameson</h5>
                  <p class="card-text">Profession</p>
                  <img class="ps-3" src="../../assets/images/facebook.svg" alt="Facebook">
                  <img class="ps-3" src="../../assets/images/instagram.svg" alt="Instagram">
                  <img class="ps-3" src="../../assets/images/twitter.svg" alt="Twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  
