<header class="pt-5 d-md-flex align-items-center" style="background-color: #FFF2F3 !important;">
    <div class="container ps-5">
      <span style="color: #96BB76; font-weight: 500;"><b>Welcome</b></span><br><br>
      <h1><b>Best Learning <br>Opportunities</b></h1><br>
      <p style="color: #737373;">Our goal is to make online <br>education for everyone</p>
      <a id="join-us-btn" href="#" class="btn btn-success" style="color:#fff; background-color: #96BB76; border-color: #96BB76; margin-right: 20px;">Join Us</a>
      <a id="learn-more-btn" href="#" class="btn btn-outline-success" style="color: #96BB76; border-color: #96BB76;">Learn More</a>
    </div>
    <div class="text-center">
      <img src="../../assets/images/hero-cover-1.png" alt="hero-image" srcset="" style="width: 400px; height: 400px;">
    </div>
  </header>
  

