
.nav-link:hover {
    color: #96BB76 !important;
  }
  
  .nav-link.btn:hover {
    color: #fff !important;
    background-color: #96BB76 !important;
  }
  
  
  .join-us-btn {
    background-color: #96BB76;
    border-radius: 0.5rem;
    width: 80px;
  
  }
  
  .join-us-btn .nav-link {
    color: #fff !important;
   
  }
  
  .join-us-btn .nav-link:hover {
    color: #fff !important;
  }
  