<nav class="navbar navbar-expand-md navbar-light" style="background-color: #FFF2F3 !important;">
    <div style="width: 60%;" class="m-auto align-items-center d-md-flex">
      <a class="navbar-brand fw-bold h2 pb-0" href="#">Brandname</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item fw-bold">
            <a class="nav-link active" style="color: #737373;" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item fw-bold">
            <a class="nav-link" href="#">Product</a>
          </li>
          <li class="nav-item fw-bold">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item me-4 fw-bold">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link btn" style="color: #96BB76;  margin-right: 10px;" href="#">Login</a>
          </li>
          <li class="nav-item join-us-btn">
            <a class="nav-link btn text-white" href="#">Join Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
