<!-- Approvable Packages Section -->
<section class="py-5">
    <div class="container d-md-flex justify-content-between gap-2">
      <div class="row w-50">
        <div class="col text-left">
          <div class="red-line mb-1"></div><br><br>
          <h2><b>Approvable Packages</b></h2><br><br>
          <p style="color: #737373;">Problems trying to resolve the conflict between<br> the two major realms of Classical
            physics:<br> Newtonian mechanics</p>
          <a href="#" class="learn-more-link">Learn More <span class="arrow">→</span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body" style="text-align:left">
              <img src="../../assets/images/twitter.svg" class="mb-3" alt="Certified Teacher">
              <h5 class="card-title"><b>Certified Teacher</b></h5>
              <div class="red-line mb-3"></div>
              <p class="card-text">The gradual accumulation of information about.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body" style="text-align:left">
              <img src="../../assets/images/twitter.svg" class="mb-3" alt="Certified Teacher">
              <h5 class="card-title"><b>Expert Instruction</b></h5>
              <div class="red-line mb-3"></div>
              <p class="card-text">The gradual accumulation of information about.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
