/* You can add global styles to this file, and also import other style files */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.red-line {
    width: 70px;
    height: 5px;
    background-color: red;
    margin-left: 5px;
}

a.nav-link {
    color: #737373;
}

.learn-more-link {
    color: #96BB76;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.learn-more-link .arrow {
    color: #96BB76;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.learn-more-link:hover .arrow {
    transform: translateX(5px);
}

.learn-more-link:hover {
    text-decoration: underline;
}

.card {
    margin: 0 10px;
    border-radius: 10px;
}

.card-text {
    color: #737373;
}

.card-body {
    text-align: center;
}

.carousel-text {
    margin: 0 20px;
    position: relative;
    width: 100%;
    padding-bottom: 100px;
}

.contact-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-link {
    display: inline-block;
    color: #737373;
    text-decoration: none;
    margin: 0;
}

.is-invalid {
    border-color: #dc3545;
}

